@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.presidentsContainer {
    .firstPresidentMargin {
        margin-left: 7%;
    }

    .flag {
        bottom: 20px;
        left: -20px;
        max-height: 300px;
        opacity: .5;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .portrait {
        height: 400px;
    }

    .stack {
        height: 60vh;
    }
    
    h1 {
        font-size: 50px;
    }

    h1, h4 {
        font-family: Tangerine;
        font-weight: bold;
    }

    h4 {
        font-size: 35px;
        padding-top: 20px;
        margin-bottom: 15px;
    }

    @supports(-webkit-touch-callout: none){
        @media(max-width: 821px) and (max-height: 1181px) {
            .flag {
                display: none;
            }
    
            .portrait {
                height: 600px;
                margin-top: 75px;
            }
    
            .stack {
                height: 65vh;
            }
    
            h4 {
                font-size: 50px;
            }
        }
    }

    @media(max-width: 1550px) and (max-height: 750px) {

        .portrait {
            height: 300px;
        }

        .stack {
            height: 60vh;
        }

        h4 {
            font-size: 25px;
            padding-bottom: 20px;
        }
    }

    @media(max-width: 1160px) and (max-height: 650px){
        .portrait {
            height: 250px;
            margin-top: 0px;
        }

        .stack {
            height: 55vh;
        }

        h1 {
            font-size: 40px;
        }

        h4 {
            font-size: 25px;
        }
    }

    @media(max-width: 780px) and (max-height: 600px){
        .portrait {
            height: 200px;
            margin-top: 0px;
        }

        .stack {
            height: 55vh;
        }
    }

    @media(max-width: 501px) and (max-height: 575px){
        .portrait {
            height: 150px;
            margin-top: 0px;
        }

        .presidentSearch {
            height: 25px;
        }

        .stack {
            height: 55vh;
        }

        h1 {
            font-size: 30px;
        }
    }
}