@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.presidentsContainer {
    .firstPresidentMargin {
        margin-left: 7%;
    }

    .flag {
        bottom: 20px;
        left: -20px;
        max-height: 300px;
        opacity: .5;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    
    h1 {
        font-size: 50px;
    }

    h1, h4 {
        font-family: Tangerine;
        font-weight: bold;
    }

    h4 {
        font-size: 35px;
        padding-top: 20px;
        margin-bottom: 15px;
    }
}