@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.details-container {
    .bio-container {
        max-width: 1110px;
    }

    .page-end-padding {
        padding-bottom: 100px;
    }
    
    .president-info-container {
        width: fit-content;
    }
    
    .quick-facts {
        height: fit-content;
        text-align: center;
    }
    
    .star-container {
        width: fit-content;  
        margin: auto;
    }

    h1 {
        font-size: 50px;
    }

    h1, h2, h3 {
        font-family: Tangerine;
        font-weight: bold;
    }
}

