.about-container {

    margin-bottom: 200px;

    .about-card {
        height: fit-content;
        opacity: .9;
        right: 60%;
        top: 70%;
        width: 80%;
    
    }
    
    .about-header {
        text-align: center;
    }
    
    .about-content {
        width: fit-content;
        margin: auto;
    }
    
    .header-flex {
        background-color: black;
        border-bottom-left-radius: 95%;
        border-bottom-right-radius: 95%;
        height: 100px;
        width: 100%;
    }
    
    .lincoln-image {
        height: 600px;
    }
    
}