.about-container {

    margin-bottom: 200px;

    .about-card {
        height: fit-content;
        opacity: .9;
        right: 60%;
        top: 70%;
        width: 80%;
    
    }
    
    .about-header {
        text-align: center;
    }
    
    .about-content {
        width: fit-content;
        margin: auto;
    }
    
    .header-flex {
        background-color: black;
        border-bottom-left-radius: 95%;
        border-bottom-right-radius: 95%;
        height: 100px;
        width: 100%;
    }
    
    .lincoln-image {
        height: 600px;
    }

    @media (max-width: 1130px){
        .about-card {
            right: 10%;
        }
    }

    @media (max-width: 650px){
        .about-card {
            font-size: 14px;
            right: 11%;
            top: 80%;
            width: 350px;
        }

        .lincoln-image {
            height: 450px;
        }
    }

    @media (max-width: 560px){
        .about-card {
            margin: auto;
            margin-top: 30px;
            position: static !important;
            width: 350px;
        }

        .lincoln-image {
            height: 350px;
        }
    }
    
}

@media (max-width: 560px) {
    .about-container {
        margin-bottom: 70px;
    }
}