@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.modalTitle {
    font-family: Tangerine;
    font-size: 40px;
    font-weight: bold;
}

.modalPadding {
    margin-top: 150px;

    .modal-body{
        margin: 0px 10px 0px 10px;
    }

}