.jumbotron {
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/capital.jpeg");
    background-size: cover;
    background-position: center;;
    color: white;
    height: 90vh;
}