.footer {
    background-color: rgb(33, 37,41);
    bottom: 0px;
    color: white;
    height: 4vh;
    padding-bottom: 50px;
    position: fixed;
}

.footerRow {
    background-color: rgb(33, 37,41);
}