.navContainer {
    min-height: 75.945px;

    .hamburgerToggle {
        width: fit-content;
    }

    @media (max-width: 992px) {
        .georgeLogo {
            position: absolute;
            top: 0px;
            right: 12px;
        }

        .maxWidthOverride {
            max-width: none;
        }
    }
}