.cardSizing {
    min-width: 400px;

}

.firstCardMargin {
    margin-left: 7%;
}

.learningButtonCompleted {
    margin-top: 20px;
    background-color: green;
}

.learningButtonNotCompleted {
    margin-top: 20px;
    background-color: gray;
}